src/StringCalculatorKata/StringCalculatorKata/bin
src/StringCalculatorKata/StringCalculatorKata/obj
src/StringCalculatorKata/StringCalculatorKata.Tests/bin
src/StringCalculatorKata/StringCalculatorKata.Tests/obj